/*Graphik*/
@font-face {
  font-family: Graphik;
  src: url('../assets/fonts/graphik/Graphik-Light.woff');
  font-weight: 300;
}
@font-face {
  font-family: Graphik;
  src: url('../assets/fonts/graphik/Graphik-Regular.woff');
  font-weight: 400;
}
@font-face {
  font-family: Graphik;
  src: url('../assets/fonts/graphik/Graphik-Medium.woff');
  font-weight: 500;
}
@font-face {
  font-family: Graphik;
  src: url('../assets/fonts/graphik/Graphik-Semibold.woff');
  font-weight: 600;
}
@font-face {
  font-family: Graphik;
  src: url('../assets/fonts/graphik/Graphik-Bold.woff');
  font-weight: 700;
}

/*rubik*/
@font-face {
  font-family: Rubik;
  src: url('../assets/fonts/rubik/Rubik-Light.woff');
  font-weight: 300;
}
@font-face {
  font-family: Rubik;
  src: url('../assets/fonts/rubik/Rubik-Regular.woff');
  font-weight: 400;
}
@font-face {
  font-family: Rubik;
  src: url('../assets/fonts/rubik/Rubik-Medium.woff');
  font-weight: 500;
}
@font-face {
  font-family: Rubik;
  src: url('../assets/fonts/rubik/Rubik-Bold.woff');
  font-weight: 700;
}

p {
  font-family: var(--gw-font-family-body);
  font-weight: var(--gw-font-wight-regular);
  font-size: var(--gw-font-size-m);
  line-height: var(--gw-line-height-spaced);
  margin: var(--gw-space-s) 0 var(--gw-space-s) 0;
}
