//section
section {
  padding-top: var(--gw-space-m);
  padding-bottom: var(--gw-space-m);
  /* RESPONSIVE */
  @media (min-width: 576px) {
  }
  @media (min-width: 768px) {
    padding-top: var(--gw-space-l);
    padding-bottom: var(--gw-space-l);
  }
  @media (min-width: 992px) {
    padding-top: var(--gw-space-xl);
    padding-bottom: var(--gw-space-xl);
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 1400px) {
  }
}

//focus
*:focus-visible {
  --borderWidth: 3px;
  outline-width: var(--borderWidth);
  outline-style: solid;
  outline-color: var(--gw-color-fuchsia-500);
}
