//general
body {
  color: var(--gwds__color--black);
  font-family: var(--gwds__font-family--body);
  font-weight: var(--gwds__font-wight--regular);
  font-size: var(--gwds__font-size--m);
}

//selection
::selection {
  color: var(--gwds__color--black);
  background: var(--gwds__color--violet-50);
}

//paragraph
p {
  margin: var(--gwds__space--s) 0 var(--gwds__space--s) 0;
}

//image
img {
  max-width: 100%;
}

//section
section {
  padding-top: var(--gwds__space--l);
  padding-bottom: var(--gwds__space--l);
  /* RESPONSIVE */
  @media (min-width: 576px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 992px) {
    padding-top: var(--gwds__space--xl);
    padding-bottom: var(--gwds__space--xl);
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 1400px) {
  }
}

//lists
ul {
  padding-left: 16px;
  list-style-type: none;
  li {
    margin-bottom: var(--gw-spacing-xxs);
  }

  &:not(.unstyled) {
    li {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        display: inline-block;
        top: 11px;
        left: -16px;
        background-color: black;
      }
    }
  }
}
.unstyled {
  //list
  padding: 0;
  margin: 0;
}

//links
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

//focus
*:focus-visible {
  --borderWidth: 3px;
  outline-width: var(--borderWidth);
  outline-style: solid;
  outline-color: var(--gwds__color--fuchsia-500);
}

//titles
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--gwds__font-family--headings);
  font-weight: 600;
  margin: var(--gwds__space--s) 0 var(--gwds__space--s) 0;
  &--light {
    font-weight: var(--gwds__font-weight--light);
  }
}
.h1 {
  font-size: var(--gwds__font-size--l);
}
.h2 {
  font-size: var(--gwds__font-size--l);
}
.h3 {
  font-size: var(--gwds__font-size--l);
}
.h4 {
  font-size: var(--gwds__font-size--l);
}
.h5 {
  font-size: var(--gwds__font-size--m);
}
.h6 {
  font-size: var(--gwds__font-size--s);
}
/* RESPONSIVE */
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .h1 {
    font-size: var(--gwds__font-size--xxxl);
  }
  .h2 {
    font-size: var(--gwds__font-size--xxl);
  }
  .h3 {
    font-size: var(--gwds__font-size--xl);
  }
  .h4 {
  }
  .h5 {
  }
  .h6 {
  }
}
@media (min-width: 992px) {
  .h1 {
  }
  .h2 {
  }
  .h3 {
  }
  .h4 {
  }
  .h5 {
  }
  .h6 {
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}

//line-height
p,
blockquote,
q,
body,
small {
  line-height: var(--gwds__line-height--spaced);
}
