:host {
  display: block;
}

:host {
  .section {
    transition: background-color 1s;
    padding: 64px 32px;
    text-align: center;
    background-color: var(--gw-color-green-900);
  }
  .title {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--gw-font-size-xxl);
  }
}
