:root {
  --gwds-message-speed: 200ms;
}
:host {
  display: block;
}
.gwds-message {
  font-size: var(--gwds__font-size--m);
  overflow: hidden;
  transition: var(--gwds-message-speed) height;
  display: block;

  &__wrapper {
    padding: var(--gwds__space--s) var(--gwds__space--s);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transition: var(--gwds-message-speed) opacity;
    gap: var(--gwds__space--s);
  }
  &__container {
    display: flex;
    gap: var(--gwds__space--s);
    flex-direction: column;
    width: calc(100% - 40px); // 100% - (close icon width + .gwds-message__wrapper gap)
  }
  &__link-button-container {
    display: flex;
    gap: var(--gwds__space--s);
    flex-direction: column;
  }
  &__message {
    //padding: var(--gwds__space--s) var(--gwds__space--s);
    padding-right: 0;
    display: flex;
    align-items: center;
    gap: var(--gwds__space--xs);
  }
  &__link {
  }
  &__button {
    margin: 0;
  }
  &__close {
    cursor: pointer;

    &:hover {
      > * {
        transform: scale(1.1);
      }
    }
  }

  &--opacity-0 {
    .gwds-message__wrapper {
      opacity: 0;
    }
  }
  &--height-0 {
    height: 0 !important;
  }
  &--fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
  }

  /* RESPONSIVE */
  /*sm*/
  @media (min-width: 576px) {
    &__link-button-container {
      flex-direction: row;
      align-items: center;
    }
  }
  /*md*/
  @media (min-width: 768px) {
    &__container {
      flex-direction: row;
      justify-content: center;
    }
  }
  /*lg*/
  @media (min-width: 992px) {
  }
  /*xl*/
  @media (min-width: 1200px) {
  }
  /*xxl*/
  @media (min-width: 1400px) {
  }
}
