:root {
  --gwds-message-speed: 200ms;
}
:host {
  display: block;
}
.gwds-message {
  font-size: var(--gwds__font-size--s);
  display: flex;
  overflow: hidden;
  transition: var(--gwds-message-speed) height;
  justify-content: center;
  &__container {
    display: flex;
  }
  &__message {
    padding: var(--gwds__space--xs) var(--gwds__space--s);
    padding-right: 0;
    transition: var(--gwds-message-speed) all;
    display: flex;
    align-items: center;
    gap: var(--gwds__space--xs);
  }
  &__close {
    &-cross-container {
      height: 45px;
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        .gwds-alert__close-cross {
          transform: scale(1.3);
        }
      }
    }
    &-cross {
      font-size: var(--gwds__font-size--l);
    }
    transition: var(--gwds-message-speed) all;
  }

  &--opacity-0 {
    .gwds-message__message,
    .gwds-message__close {
      opacity: 0;
    }
  }
  &--height-0 {
    height: 0 !important;
  }
  &--fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
  }
}
