:host {
  display: block;
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: bottom right;
  position: relative;
}
:host(.white-text) {
  color: var(--gwds-color-white);
}
.bg-image {
  display: block;
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: bottom right;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: var(--gwds-transition-regular);

  &--show {
    opacity: 1;
  }
}

/* RESPONSIVE */
/*sm*/
@media (min-width: 576px) {
}
/*md*/
@media (min-width: 768px) {
}
/*lg*/
@media (max-width: 991px) {
  :host {
    background-image: none !important;
  }
  .bg-image {
    display: none;
  }
}
/*xl*/
@media (min-width: 1200px) {
}
/*xxl*/
@media (min-width: 1400px) {
}
