:host {
  display: block;
}
.gwds-look-at-me {
  display: block;
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: bottom right;
  position: relative;
  transition: var(--gwds__transition--regular) background-color;

  &__buttons-container {
    :last-child {
      margin-right: 0;
    }
  }
}

/* RESPONSIVE */
/*sm*/
@media (min-width: 576px) {
}
/*md*/
@media (min-width: 768px) {
}
/*lg*/
@media (max-width: 991px) {
  .gwds-look-at-me {
    background-image: none !important;
  }
}
/*xl*/
@media (min-width: 1200px) {
}
/*xxl*/
@media (min-width: 1400px) {
}
