:host {
  display: inline-block;
}
.gwds-button {
  display: inline-block;
  margin: var(--gwds__space--s) var(--gwds__space--s) var(--gwds__space--s) 0;
  font-family: var(--gwds__font-family--body);
  font-size: var(--gwds__font-size--m);
  font-weight: var(--gwds__font-weight--medium);

  &__button {
    cursor: pointer;
    display: inline-block;
    padding: var(--gwds__space--s) var(--gwds__space--m);
    border-radius: var(--gwds__radius--m);
    background-color: transparent;
    text-decoration: none;
    transition: var(--gwds__transition--super-fast) all;

    &--primary {
      color: var(--gwds__color--white);
      background-color: var(--gwds__color--fuchsia-500);
      &:hover {
        color: var(--gwds__color--white);
      }
    }
    &--secondary {
      color: var(--gwds__color--black);
      background-color: var(--gwds__color--white);
      &:hover {
        color: var(--gwds__color--black);
      }
    }
    &--tertiary {
      color: inherit;
      background-color: transparent;
      &:hover {
        color: inherit;
      }
    }
    &:hover {
      transform: scale(1.05);
      text-decoration: none;
    }
  }
}
