:host {
  display: block;
}
.gwds-show-and-tell {
  display: block;
  &__content-wrapper {
    :last-child {
      margin-bottom: 0;
    }
  }
  &__image {
    margin-top: var(--gwds__space--m);
    width: 100%;
    height: auto;
  }
  /* RESPONSIVE */
  /*sm*/
  @media (min-width: 576px) {
  }
  /*md*/
  @media (min-width: 768px) {
  }
  /*lg*/
  @media (min-width: 992px) {
    &__image {
      margin-top: 0;
    }
  }
  /*xl*/
  @media (min-width: 1200px) {
  }
  /*xxl*/
  @media (min-width: 1400px) {
  }
}
