.gwds-icon {
  display: inline-block;
  line-height: 0;

  &__div {
    display: inline-block;
    line-height: 0;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--gwds__icon-color);
    }
  }
}
