.gwds-stack-item {
  display: none;

  &__icon {
    display: inline-block;
    margin-right: var(--gwds__space--s);
  }
  &__title {
    display: flex;
    align-items: center;
  }
  &__button {
    margin-top: var(--gwds__space--m);
    margin-bottom: 0;
  }

  &--visible {
    display: block;
  }
}
