:root {
  //primary
  --gw-color-black: #111;
  --gw-color-white: #fff;
  //secondary
  --gw-color-dark-900: #1b1f23;
  --gw-color-dark-800: #3b4044;
  --gw-color-dark-700: #5a5f63;
  --gw-color-dark-500: #969ba0;
  --gw-color-dark-400: #b5b5b5;
  --gw-color-dark-300: #d9d9d9;
  --gw-color-dark-200: #eeeeee;
  --gw-color-dark-100: #f5f5f5;
  --gw-color-green-900: #187c48;
  --gw-color-orange-400: #f7694a;
  --gw-color-violet-500: #6c48c9;
  --gw-color-violet-300: #9a7fda;
  --gw-color-blue-400: #696ef2;
  --gw-color-blue-900: #0f1c61;
  --gw-color-turquoise-200: #03e6c3;
  --gw-color-purple-400: #a54095;
  --gw-color-purple-900: #321e41;
  --gw-color-red-200: #ed6465;
  --gw-color-red-400: #d9506c;
  --gw-color-red-50: #fbddec;
  //button
  --gw-color-fuchsia-500: #fa3263;
  --gw-color-fuchsia-700: #d2285d;
  //background-tag
  --gw-color-violet-50: #eee9f8;
  --gw-color-blue-50: #ebebfe;
  --gw-color-orange-50: #f9e8e7;
  --gw-color-green-50: #e9faf0;
}
