:root {
  --gwds-space-xxs: 4px;
  --gwds-space-xs: 8px;
  --gwds-space-s: 16px;
  --gwds-space-m: 32px;
  --gwds-space-l: 64px;
  --gwds-space-xl: 128px;
  --gwds-space-xxl: 256px;
  --gwds-space-xxxl: 512px;
}
