:root {
  --gwds__space--xxs: 4px;
  --gwds__space--xs: 8px;
  --gwds__space--s: 16px;
  --gwds__space--m: 32px;
  --gwds__space--l: 64px;
  --gwds__space--xl: 128px;
  --gwds__space--xxl: 256px;

  //components
  --gwds__component-space--s: 24px;
  --gwds__component-space--m: 48px;
  --gwds__component-space--l: 96px;
}
