:host {
  display: block;
}
.gwds-video-section {
  display: block;

  /* RESPONSIVE */
  /*lg*/
  @media (min-width: 992px) {
    &__content-wrapper {
      :last-child {
        margin-bottom: 0;
      }
    }
  }
}
