:host {
  display: block;
}
.gwds-blocks {
  display: block;
  gwds-grid {
    margin-top: var(--gwds__space--l);
  }

  /* RESPONSIVE */
  /*sm*/
  @media (min-width: 576px) {
  }
  /*md*/
  @media (min-width: 768px) {
  }
  /*lg*/
  @media (min-width: 992px) {
    &--grid-aside {
      gwds-grid {
        margin-top: 0;
      }
      .gwds-grid__container {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  /*xl*/
  @media (min-width: 1200px) {
  }
  /*xxl*/
  @media (min-width: 1400px) {
    &--grid-aside {
      .gwds-grid__container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
