:host {
  display: block;
}
.gwds-good-news {
  &__wrapper {
    display: flex;
    font-size: var(--gwds__font-size--s);
  }
  &__img-wrapper {
    margin-bottom: var(--gwds__space--s);
    border-radius: var(--gwds__radius--xs);
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform var(--gwds__transition--fast);
  }
  &__img-link {
    &:hover {
      .gwds-good-news__img {
        transform: scale(1.1);
      }
    }
  }
  .gwds-avatar {
    margin-right: var(--gwds__space--xs);
  }
  &__autor-name {
    font-weight: var(--gwds__font-weight--medium);
  }
  .pipe {
    display: inline-block;
    margin: 0 var(--gwds__space--xs);
    color: var(--gwds__color--dark-700);
  }
  &__date {
    color: var(--gwds__color--dark-700);
  }
}
